doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Clients
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.projects
        .text
          a(href="") Request Portfolio
          p 
            |At the moment, we can demonstrate 
            br
            |our projects only on request
        .color-bg
        iframe(src='//coub.com/embed/saqnt?muted=true&autostart=true&originalSize=true&startWithHD=true&ideTopBar=true&noHDControl&noSiteButtons', allowfullscreen='true', frameborder='0')
        script(async='', src='//c-cdn.coub.com/embed-runner.js')
        
        
      section.hero
        
    
    
      
      section.page-bottom
        p Instagram
        .pic-section
          .pic(style="background-image: url(media/images/11.jpg)")
          .pic(style="background-image: url(media/images/12.jpg)")
          .pic(style="background-image: url(media/images/16.jpg)")
          .pic(style="background-image: url(media/images/14.jpg)")
          .pic(style="background-image: url(media/images/13.jpg)")
          

    
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    //script(src="https://maps.googleapis.com/maps/api/js")
    script(src="js/scripts.js")
    
    
  