doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Contact
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.contact
        .color-bg
        .text
          h4 We are always in touch
          p Contact us in any way convenient for you.
        
        
        
        
      section.hero
        
      section.form-message
        .container
          form(action="")
            .row
              .col-md-12
                p
                  |Leave us a message and we will contact you as soon as possible.
              .col-md-6.col-sm-6.col-xs-12
                input(type="text" placeholder="Name")
              .col-md-6.col-sm-6.col-xs-12
                input(type="text" placeholder="E-mail")
              .col-md-12.col-sm-12.col-xs-12
                textarea(name="", placeholder="Message")
                input(type="submit" value="Submit")
      
      section.page-bottom
      
        p 
          |We’re also on 
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  and 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
          

      section.footer-space    
      include includes/footer
    
  