doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Contact
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.contact
        .color-bg
        .text
          h4 Мы всегда на связи
          p Свяжитесь с нами любым удобным для вас способом.
        
        
        
        
      section.hero
        
      section.form-message
        .container
          form
            .form-message-respond
              .text
                img(src='media/images/done.svg')
                p 
                  |Ваше сообщение 
                  br
                  |отправлено
            input(type='hidden', name='project_name', value='Form Hnl-Events RU')
            input(type='hidden', name='admin_email', value='info@hnl-events.com')
            input(type='hidden', name='form_subject', value='New message')
            .row
              .col-md-12
                p
                  |Оставьте нам сообщение и мы свяжемся с вами как можно скорее.
              .col-md-6.col-sm-6.col-xs-12
                input(type='text', name='Name', placeholder='Имя', required='')
              .col-md-6.col-sm-6.col-xs-12
                input(type='text', name='E-mail', placeholder='E-mail', required='')
              .col-md-12.col-sm-12.col-xs-12
                textarea(name="Phone", placeholder="Ваше сообщение")
                input(type="submit", value="Отправить")
      

      
      section.page-bottom
        p 
          |Мы есть в 
          a(href="https://www.instagram.com/hnl_events_/" target="_blank") Instagram
          |,
          br
          a(href="https://www.facebook.com/EventsHnL/" target="_blank") Facebook
          |  и 
          a(href="https://www.pinterest.com/hnlevents/" target="_blank") Pinterest
        .pic-section
          a.pic(href="https://www.instagram.com/hnl_events_/" style="background-image: url(media/images/bottom/1.jpg)" target="_blank")
          a.pic(href="https://www.facebook.com/EventsHnL/" style="background-image: url(media/images/bottom/2.jpg)" target="_blank")
          a.pic(href="https://www.instagram.com/hnl_events_/" style="background-image: url(media/images/16.jpg)")
          a.pic(href="https://www.pinterest.com/hnlevents/" style="background-image: url(media/images/bottom/4.jpg)" target="_blank")
          a.pic(href="https://www.instagram.com/hnl_events_/" style="background-image: url(media/images/bottom/5.jpg)" target="_blank")
            
          

      section.footer-space    
      include includes/footer
    
  