doctype html
html(lang='ua')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Контакти
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.contact
        .color-bg
        .text
          h4 Ми завжди на зв'язку
          p Зв'яжіться з нами будь-яким зручним для вас чином.
        
        
        
        
      section.hero
        
      section.form-message
        .container
          form(action="")
            .row
              .col-md-12
                p
                  |Залиште нам повідомлення і ми зв'яжемося з вами як можна швидше.
              .col-md-6.col-sm-6.col-xs-12
                input(type="text" placeholder="Ім'я")
              .col-md-6.col-sm-6.col-xs-12
                input(type="text" placeholder="E-mail")
              .col-md-12.col-sm-12.col-xs-12
                textarea(name="", placeholder="Ваше повідомлення")
                input(type="submit" value="Відправити")
      
      section.page-bottom
        p 
          |Ми є 
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  також 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
          

      section.footer-space    
      include includes/footer
    
  