doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.main
        .text
          p Creative office focuses on individually tailored events.
          h4 
            |We are a new, original and creative company, based in Kiev, focusing on tailor-made events.
            br
            |Our main aim is to organize modern and unique event projects, unimaginable on all the Ukraine market up to now.  
          p Based in Ukraine, Kiev
      section.hero
        
    
    
      section.big-pic
        img(src="media/images/main.jpg", alt="")
        
        
        
        
      section.service-main
        .container
          .row
            .col-md-12.col-xs-12.service-links
              
              p 
                |We arrange events for:
              a(href="services.html")  Corporate 
              span ,  
              a(href="services.html")  Music 
              span ,  
              a(href="services.html")  Art & Culture 
              span ,  
              a(href="services.html")  Sport 
              h4 +
              h4 Consultancy, Management, Recruitment
              
        .container.stories
          .row
            .col-md-4.col-sm-4.col-xs-12
              

              .story-pic.first(style="background-image: url(media/images/1.jpg)")
                .story-video
                  video(autoplay="" loop="")
                    source(src='media/video/3.mp4', type='video/mp4' media="(orientation:landscape)")
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                a.insta-header(href="")
                  .img(style="background-image: url(media/images/logo-circle.jpg)")
                  span hnl-events
                  span 5мин
            .col-md-4.col-sm-4.col-xs-12.central-block
              img.aemoji(src="media/images/aemoji.gif", alt="")
              
              br
              br
              p 
                |We choose what
                br
                |history will be
                br
                |our present
              br
              
              img(src="media/images/emoji5.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji5.png)")
              img(src="media/images/emoji6.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji6.png)")
              img(src="media/images/emoji7.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji7.png)")
              img(src="media/images/emoji8.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji8.png)")
              br
              img(src="media/images/emoji2.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji2.png)")
              img(src="media/images/emoji1.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji1.png)")
              img(src="media/images/emoji3.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji3.png)")
              img(src="media/images/emoji4.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji4.png)")
              
              
            .col-md-4.col-sm-4.col-xs-12
              .story-pic(style="background-image: url(media/images/2.jpg)")
                .story-video
                  video(autoplay="" loop="")
                    source(src='media/video/4.mp4', type='video/mp4' media="(orientation:landscape)")
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                a.insta-header(href="")
                  .img(style="background-image: url(media/images/logo-circle.jpg)")
                  span hnl-events
                  span 5мин
                  
          
              
              
          
              
        
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span Let’s talk
        p 
          |We’re also on 
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  and 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
      
      
      
      
 
        
    
    
    
    
    
  