doctype html
html(lang='ua')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.main
        .text
          p Ми нова, оригінальна та креативна компанія, яка перебуває в Києві й сфокусована на індивідуальні заходи.
          h4 Наша головна мета - організовувати сучасні та унікальні заходи, до сих пір неймовірні на всьому українському ринку.
          
      section.hero
        
    
    
      section.big-pic
        img(src="media/images/main.jpg", alt="")
        
        
        
        
      section.service-main
        .container
          .row
            .col-md-12.col-xs-12.service-links
              
              p 
                |Ми організовуємо події:
              a(href="services.html") Корпоративні
              span ,  
              a(href="services.html")  Спортивні
              span ,  
              a(href="services.html")  Музичні
              span ,  
              a(href="services.html")  Художні
              span ,  
              a(href="services.html")  Культурні
              h4 +
              h4 Сприяємо в управлінні, підтримці і супроводі заходів
              
        .container.stories
          .row
            .col-md-4.col-sm-4.col-xs-12
              

              .story-pic.first(style="background-image: url(media/images/1.jpg)")
                .story-video
                  video(autoplay="" loop="")
                    source(src='media/video/3.mp4', type='video/mp4' media="(orientation:landscape)")
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                a.insta-header(href="")
                  .img(style="background-image: url(media/images/logo-circle.jpg)")
                  span hnl-events
                  span 5мин
            .col-md-4.col-sm-4.col-xs-12.central-block
              img.aemoji(src="media/images/aemoji.gif", alt="")
              
              br
              br
              p 
                |Ми організовуємо привабливі події.
                br
                br
                |Трохи божевільні,
                br
                |Але завжди привабливі ...
              br
              
              img(src="media/images/emoji5.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji5.png)")
              img(src="media/images/emoji6.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji6.png)")
              img(src="media/images/emoji7.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji7.png)")
              img(src="media/images/emoji8.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji8.png)")
              br
              img(src="media/images/emoji2.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji2.png)")
              img(src="media/images/emoji1.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji1.png)")
              img(src="media/images/emoji3.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji3.png)")
              img(src="media/images/emoji4.png", alt="")
              .emoji-overlay(style="background-image: url(media/images/emoji4.png)")
              
              
            .col-md-4.col-sm-4.col-xs-12
              .story-pic(style="background-image: url(media/images/2.jpg)")
                .story-video
                  video(autoplay="" loop="")
                    source(src='media/video/4.mp4', type='video/mp4' media="(orientation:landscape)")
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                a.insta-header(href="")
                  .img(style="background-image: url(media/images/logo-circle.jpg)")
                  span hnl-events
                  span 5мин
                  
          
              
              
          
              
        
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span 
              |Почати
              br
              |розмову
        p 
          |Ми є в
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  також 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
      
      
      
      
 
        
    
    
    
    
    
  