doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Projects
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.no-scroll
    include includes/header

    main
      section.fixed-hero.projects
        .text
          a(href="mailto:info@hnl-events.com") Запросить портфолио
          p 
            |На данный момент демонстрация
            br
            |портфолио осуществляется по запросу
        .color-bg
        iframe(src='//coub.com/embed/suoi7?muted=true&autostart=true&originalSize=true&startWithHD=true&ideTopBar=true&noHDControl&noSiteButtons', allowfullscreen='true', frameborder='0')
        script(async='', src='//c-cdn.coub.com/embed-runner.js')
        
        
      section.hero
        
    
    
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span 
              |Начать
              br
              |разговор
        p 
          |Мы есть в 
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  и 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/11.jpg)")
          a.pic(href="" style="background-image: url(media/images/12.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/14.jpg)")
          a.pic(href="" style="background-image: url(media/images/13.jpg)")
            
          
      
      
      section.footer-space    
      include includes/footer 
    
    
  