doctype html
html(lang='ua')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Services
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.services
        .text
          h4 
            |Ми організуємо події.
          p
            |Надаємо послуги з
            br
            |Менеджменту та Консалтингу
        .color-bg
        
      section.hero
      
      section.services-item.one-bg
        .container-fluid
          .row
            .col-md-6.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/8.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/12.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3
                  |Корпоративнi
              .top-box
                 span Події
                
                a(href="") Фірмовий стиль, маркетинг і зв'язок з громадськістю                
                a(href="") 
                  |Конференції, семінари,тренiнги
                a(href="") 
                  |Відкриття шоурумів
                  br
                  |Та магазинiв
                a(href="")
                  |Спеціальні заходи
                a(href="") Запуск продукту
                
            
                a(href="") Святкові вечері
                a(href="") Мерчендайзiнг
                
              
                
                  
      section.services-item.four-bg
        .container-fluid
          .row
            
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3
                  |Спортивнi
              .top-box
                 span Події
                a(href="") Організація прес конференцій
                a(href="") Організація тренувальних баз
                a(href="") Абонементи в спортивні клуби
                a(href="") Церемонії нагородження
                a(href="") Розміщення персоналу
                a(href="") Організація трансферів
                a(href="") Організація змагань
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/9.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/14.jpg)")
                
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/6.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/15.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3
                  |Музичнi
              .top-box
                 span Події
                a(href="") Розміщення співробітників
                a(href="") Встановлення обладнання
                a(href="") Відеозйомка і звукозапис
                a(href="") Проведення концертів
                a(href="") Організація церемоній
                a(href="") Організація фестивалів
      
      section.services-item.two-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box 
                .top-box(style="padding: 40px 0; height: auto;")
                  span Події 
                h3(style="margin-bottom: 50px") Мистецтва та Культури
                br
              a(href="") Відкриття музеїв і виставок
              a(href="") Експериментальні події
              a(href="") Проведення церемоній
              a(href="") Церемонії відкриття
              a(href="") Логістика експонатів
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/5.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/13.jpg)")
                
      section.services-item.other-servise
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12
              .big-text
                .text
                  h2 Інші послуги
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                a(href="") Моделі
                a(href="") Супровід
                a(href="") Кейтеринг
                a(href="") Перекладачі
                a(href="") Рекомендації
                a(href="") Прокат автомобілів
                a(href="") Забезпечення безпеки
                a(href="") Персонал для всіх заходів
      
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span 
              |Почати
              br
              |розмову
        p 
          |Ми є в 
          a(href="")      Instagram
          |,
          br
          a(href="") Facebook
          |  и 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
    
  