doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Services
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.services
        .text
          h4 
            |Организация событий,
            br
            |Менеджмент, Консультации, Подбор персонала
          p Ниже можно прочесть больше
        .color-bg
        
      section.hero
      
      section.services-item.one-bg
        .container-fluid
          .row
            .col-md-6.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/8.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/12.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span услуги для
              .link-box
                h4 Компаний
                
                
                a(href="") 
                  |Выставки и
                  br
                  | Конференции
                a(href="")
                  |Бренд стратегии 
                a(href="") Большие ужины
                
                a(href="") Запуски проектов
                
                
                a(href="") 
                  |Открытия шоурумов
                  br
                  |и магазинов
                
                
              .move-box
                p переводчики — хостесс — модели — кейтеринг — весь персонал
                
                  
      section.services-item.two-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span Услуги для
              .link-box
                h4 Искусства и Культуры
                a(href="") 
                  | Управление 
                  br
                  | размещением 
                a(href="") Церемонии открытия
                a(href="") 
                  |Открытия музеев и выставок
                a(href="") Эксперементальные события
              .move-box
                p переводчики — хостесс — модели — кейтеринг — весь персонал
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/5.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/13.jpg)")

              
      
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/6.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/15.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span Услуги для
              .link-box
                h4 Артистов
                a(href="") 
                  |Продакшин,
                  br
                  |звукозапись видеосьемка
                a(href="") 
                  | Концерты 
                  |и фестивали
                
                a(href="") Бронирование и размещение артистов
                a(href="") Бронирование и размещение персонала
              .move-box
                p переводчики — хостесс — модели — кейтеринг — весь персонал
                
      section.services-item.four-bg
        .container-fluid
          .row
            
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span Услуги для
              .link-box
                h4 
                  |Спорта
                a(href="") Мировые спортивные события
                a(href="") Гонки и соревнования
                a(href="") Профессиональные турниры
                a(href="") Бронирование гостиниц
                a(href="") Организация встреч
                
                
                
              .move-box
                p переводчики — хостесс — модели — кейтеринг — весь персонал
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/9.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/14.jpg)")
                
    
    
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span 
              |Начать
              br
              |разговор
        p 
          |Мы есть в 
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  и 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
    
  