doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Services
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.services
        .text
          h4 
            |Мы организовываем мероприятия,
            br
            |занимаемся менеджментом и консалтингом
        .color-bg
        
      section.hero
      
      section.services-item.one-bg
        .container-fluid
          .row
            .col-md-6.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/8.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/12.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span События
              .link-box
                h4 Корпоративные
                
                a(href="") 
                  |Выставки, семинары и 
                  br
                  | Конференции
                a(href="")
                  |Специальные мероприятия
                a(href="") Запуск продукта
                
                a(href="") Фирменный стиль, маркетинг и коммуникация с общественностью
            
                a(href="") 
                  |Открытие шоурумов
                  br
                  |и магазинов
                a(href="") Праздничные ужины
                a(href="") Мерчендайзинг
                
      
      section.services-item.four-bg
        .container-fluid
          .row
            
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span События
              .link-box
                h4 
                  |Спортивные
                a(href="") Организация мероприятий
                a(href="") Гонки и соревнования
                a(href="") Награда спортсменов / команд
                a(href="") Бронирование   гостиниц
                a(href="") Организация встреч
                a(href="") Менеджмент и консультация фитнесс клубов 
                a(href="") Спортивные пакеты для гостиничного бизнеса
                a(href="") Менеджмент,консультация и помощь путешествующим спортивным командам
                
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/9.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/14.jpg)")
                
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/6.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/15.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span События 
              .link-box
                h4 Музыкальные
                a(href="") 
                  |Продакшн,
                  br
                  |звукозапись и видеосьемка
                a(href="") 
                  | Концерты 
                  |и фестивали
                
                a(href="") Менеджмент и размещение музыканта 
                a(href="") Бронирование и размещение персонала
                
      
      section.services-item.two-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span События 
              .link-box
                h4 Искусства и Культуры
                a(href="") 
                  | Открытие музеев 
                  br
                  | и выставок
                a(href="") Церемонии открытия
                a(href="") Эксперементальные события
                a(href="") Управление и консультирование
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/5.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/13.jpg)")
                
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.hero-textbox
              h2 Другие услуги
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                a(href="") Роскошный транспорт
                a(href="") Кейтеринг
                a(href="") Переводчик
                a(href="") Сопровождающие
                a(href="") Модели
                a(href="") Рекомендации
                a(href="") Безопасность
                a(href="") Персонал для всех мероприятий
      
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span 
              |Начать
              br
              |разговор
        p 
          |Мы есть в 
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  и 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
    
  