doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Services
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.services
        .text
          h4 
            |Events,
            br
            |Management, Consultancy, Recruitment,  
          p More you can read from the bottom
        .color-bg
        
      section.hero
      
      section.services-item.one-bg
        .container-fluid
          .row
            .col-md-6.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/8.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/12.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span service for
              .link-box
                h4 Corporate
                a(href="") Gala dinners
                
                a(href="") 
                  |Exhibitions and
                  br
                  | conferences
                a(href="") Product launches
                a(href="")
                  |Brand identity and
                  br
                  |strategic planning
                
                a(href="") Showroom and store opening
                
                
              .move-box
                p interpreters — hostesses — models — catering — all staff
                
                  
      section.services-item.two-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span service for
              .link-box
                h4 Arts & Culture
                a(href="") 
                  |Venue 
                  br
                  |Management
                a(href="") Experimental events
                
                a(href="") Opening ceremonies
                a(href="") 
                  |Exhibition & Museum
                  br
                  |openings
              .move-box
                p interpreters — hostesses — models — catering — all staff
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/5.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/13.jpg)")

              
      
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/6.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/15.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span service for
              .link-box
                h4 Music
                a(href="") 
                  |Concerts 
                  br
                  |and festivals
                a(href="") 
                  |Production, audio
                  br
                  |and visual
                a(href="") Artist managment and bookings
                a(href="") Venue management and booking
                a(href="") Venue sourcing and management
              .move-box
                p interpreters — hostesses — models — catering — all staff
                
      section.services-item.four-bg
        .container-fluid
          .row
            
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span service for
              .link-box
                h4 Sport
                
                a(href="") Global sport events
                a(href="") Races and competitions
                a(href="") Profeccional tournaments
                a(href="") Venue management and booking
                a(href="") Venue sourcing and management
                
                
                
              .move-box
                p interpreters — hostesses — models — catering — all staff
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/9.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/14.jpg)")
                
    
    
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span Let’s talk
        p 
          |We’re also on 
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  and 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
    
  