doctype html
html(lang='ua')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Services
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.services
        .text
          h4
            |Ми надаємо послуги з
            br
            |Менеджменту та Консалтингу
        .color-bg
        
      section.hero
      
      section.services-item.one-bg
        .container-fluid
          .row
            .col-md-6.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/8.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/12.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3
                  |Корпоративнi
              .top-box
                 span Події
                a(href="") 
                  |Конференції, семінари,тренiнги
                a(href="") Фірмовий стиль, маркетинг і зв'язки з громадськістю              
                a(href="") 
                  |Відкриття шоурумів
                  br
                  |Та магазинiв
                a(href="")
                  |Індивідуальні заходи
                a(href="") Запуск презентацій
                
            
                a(href="") Урочисті вечері
                a(href="") Мерчендайзiнг
                
              
                
                  
      section.services-item.four-bg
        .container-fluid
          .row
            
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3
                  |Спортивнi
              .top-box
                 span Події
                a(href="") Церемонії нагородження команд та спортсменів
                a(href="") Організація змагань
                a(href="") Організація тренувальних баз
                a(href="") Організація прес конференцій
                a(href="") Обслуговування спортивних клубів
                a(href="") Розміщення персоналу
                a(href="") Організація трансферів
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/9.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/14.jpg)")
                
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/music-festival.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/music-preload.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3
                  |Музичнi
              .top-box
                 span Події
                a(href="") Організація концертів та фестивалів 
                a(href="") Технічне забезпечення аудіо, відео та медіа апаратурою
                a(href="") Букінг зірок та артистів
                a(href="") Підбір та Оренда площадки
      
      section.services-item.two-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box 
                .top-box(style="padding: 40px 0; height: auto;")
                  span Події 
                h3(style="margin-bottom: 50px") Культури та Мистецтва
                br
              a(href="") Відкриття музеїв та виставок
              a(href="") Менеджмент та консалтiнг
              a(href="") Експериментальні події
              a(href="") Церемонії відкриття
              a(href="") Організація та проведення
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/art-festival.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/art-preload.jpg)")
                
      section.services-item.other-servise
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12
              .big-text
                .text
                  h2 Інші сервіси
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                a(href="") Моделі
                a(href="") Кейтеринг
                a(href="") Сек'юріті
                a(href="") Хостел
                a(href="") Перекладачі
                a(href="") VIP транспорт
                a(href="") Обслуговуючий персонал
      
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span 
              |Почати
              br
              |розмову
        p 
          |Ми є в 
          a(href="https://www.instagram.com/hnl_events_/" target="_blank") Instagram
          |,
          br
          a(href="https://www.facebook.com/EventsHnL/" target="_blank") Facebook
          |  и 
          a(href="https://www.pinterest.com/hnlevents/" target="_blank") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
    
  