doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Activities
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.services
        .text
          h4
            |Events Organizations,
            br
            |Management and Consulting  
        .color-bg
        
      section.hero
      
      section.services-item.one-bg
        .container-fluid
          .row
            .col-md-6.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/8.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/12.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3 Corporate
                .top-box
                  span 
                a(href="") Gala Dinners
                a(href="") Merchandising
                a(href="") Special Events
                a(href="") Product Launches
                a(href="")
                  |Showroom and Store Openings
                a(href="")
                  |Exhibitions, Workshops, Conferences
                
                
                
              
                
      section.services-item.four-bg
        .container-fluid
          .row
            
            .col-md-6.col-sm-6.col-xs-12.text-box
              
              .link-box
                h3 Sports
                .top-box
                  span  
                
                a(href="") Races and competitions
                a(href="") Athletes/Teams Testimonials
                a(href="") Sports Clubs/Teams Traveling
                a(href="") Events Organization Management
                a(href="") Venue Sourcing, Booking and Management
                a(href="") Sporting Clubs Hospitality Packages
                a(href="") Fitness & Wellness Clubs Management and Consultancy
                
                
                
                
                
              
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/9.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/14.jpg)")                  
      
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/6.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/15.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3 Music
                .top-box
                  span 
                a(href="") 
                  |Concerts 
                  br
                  |and Festivals
                a(href="") 
                  |Production, Audio
                  br
                  |and Visual
                a(href="") Artist Management and Booking
                a(href="") Venue Searching, Booking and Management
              

      section.services-item.two-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3 Arts & Culture
                .top-box
                  span 
                a(href="") 
                  |Exhibitions
                  br
                  |and Museum Opening
                a(href="") Opening Cerimonies
                a(href="") Experimental Events
                a(href="") 
                  |Venue Management
                  br
                  |and Consulting

          
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/5.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/13.jpg)")

      section.services-item.other-servise
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12
              .big-text
                .text
                  h2 Other Services
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                a(href="") Catering
                a(href="") City Lighting, Projections & Video Mapping 
                a(href="") Hostesses
                a(href="") Interpreters
                a(href="") Luxury Transportation
                a(href="") Models
                a(href="") Security
                a(href="") Testimonials
                a(href="") Ticketing Services
                
                a(href="") All Events Staff
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span Let’s talk
        p 
          |We’re also on 
          a(href="https://www.instagram.com/hnl_events_") Instagram
          |,
          br
          a(href="https://www.facebook.com/EventsHnL/") Facebook
          |  and 
          a(href="https://www.pinterest.com/hnlevents/") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
    
  