doctype html
html(lang='ua')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Services
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.services
        .text
          h4 
            |Організація подій,
            br
            |Менеджмент Та Консалтiнг
        .color-bg
        
      section.hero
      
      section.services-item.one-bg
        .container-fluid
          .row
            .col-md-6.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/8.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/12.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span Події
              .link-box
                 h4 Компанiй
                
                
                a(href="") 
                  |Виставки, семінари та 
                  br
                  | конференції
                a(href="")
                  |Спеціальні заходи
                a(href="") Запуск продукту
                
                a(href="") Фірмовий стиль, маркетинг і зв'язок з громадськістю
            
                a(href="") 
                  |Відкриття шоурумів
                  br
                  |Та магазинiв
                a(href="") Святкові вечері
                a(href="") Мерчендайзiнг
                
              
                
                  
      section.services-item.four-bg
        .container-fluid
          .row
            
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span Події
              .link-box
                h4 
                  |Спорту
                a(href="") Організація заходів
                a(href="") Гонки та змагання
                a(href="") Нагорода спортсменів / команд
                a(href="") Бронювання готелів
                a(href="") Організація зустрічей
                a(href="") Менеджмент і консультація фітнес клубів 
                a(href="") Спортивні пакети для готельного бізнесу
                a(href="") Менеджмент, консультація і допомога подорожуючим спортивним командам
                
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/9.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/14.jpg)")
                
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/6.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/15.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span Події
              .link-box
                h4 Музичнi
                a(href="") 
                  |Продакшн,
                  br
                  |Звукозапис та відеозйомка
                a(href="") 
                  | Концерти 
                  |та фестивалі
                
                a(href="") Менеджмент та розміщення музикантiв
                a(href="") Бронювання та розміщення персоналу
                
      
      section.services-item.two-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span Події
              .link-box
                h4 Мистецтва та Культури
                a(href="") 
                  | Відкриття музеїв
                  br
                  | та виставок
                a(href="") Церемонії відкриття
                a(href="") Експериментальні події
                a(href="") Управління та консультування
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/5.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/13.jpg)")
                
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.hero-textbox
              h2 Інші послуги
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                a(href="") Розкішний транспорт
                a(href="") Кейтеринг
                a(href="") Перекладач
                a(href="") Супроводжуючі
                a(href="") Моделі
                a(href="") Рекомендації
                a(href="") Безпека
                a(href="") Персонал для всіх заходів
      
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span 
              |Почати
              br
              |розмову
        p 
          |Ми є в
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  и 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
    
  