doctype html
html(lang='ua')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Services
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.services
        .text
          h4 
            |Организація подій,
            br
            |Менеджмент Та Консалтiнг
        .color-bg
        
      section.hero
      
      section.services-item.one-bg
        .container-fluid
          .row
            .col-md-6.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/8.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/12.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                h4 Компаній
                
                
                a(href="") 
                  |Виставки та
                  br
                  | конференції
                a(href="") Великі вечері
                a(href="")
                  |Бренд стратегії
                
                
                a(href="") Урочистий початок проектів
                
                
                a(href="") 
                  |Відкриття шоурумів
                  br
                  |та магазинів
                
              
                
                  
      section.services-item.two-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                h4 Мистецтва та Культури
                a(href="") 
                  | управління та 
                  br
                  | разміщення
                a(href="") Урочисті церемонії відкриття
                a(href="") 
                  |Відкриття музеїв та виставок
                a(href="") Эксперементальні події
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/5.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/13.jpg)")

              
      
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/6.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/15.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                h4 Музикантів
                a(href="") 
                  |Продакшн,
                  br
                  |звукозапис, відеозйомка
                a(href="") 
                  | Концерти та фестивалі
                
                a(href="") Бронювання та розміщення  артистів
                a(href="") Бронювання та розміщення  персоналу
                
      section.services-item.four-bg
        .container-fluid
          .row
            
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                h4 
                  |Спорта
                a(href="") Гонки і змагання
                a(href="") Професійні турніри
                a(href="") Бронювання готелів
                a(href="") Організація зустрічей
                a(href="") Світові спортивні події
                
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/9.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/14.jpg)")
                
    
    
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span 
              |Почати
              br
              |розмову
        p 
          |Мы есть в 
          a(href="") Instagram
          |,
          br
          a(href="") Facebook
          |  и 
          a(href="") Pinterest
        .pic-section
          a.pic(href="" style="background-image: url(media/images/bottom/1.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/2.jpg)")
          a.pic(href="" style="background-image: url(media/images/16.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/4.jpg)")
          a.pic(href="" style="background-image: url(media/images/bottom/5.jpg)")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
    
  