doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H&L events | Услуги
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.loading
    include includes/header

    main
      section.fixed-hero.services
        .text
          h4 
            |Мы оказываем услуги по
            br
            |Менеджменту и Консалтингу
          p
          
        .color-bg
        
      section.hero
      
      section.services-item.one-bg
        .container-fluid
          .row
            .col-md-6.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/8.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/12.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3 Корпоративные
                .top-box
                  span События
                a(href="") Торжественные ужины
                a(href="")
                  |Индивидуальные мероприятия
                a(href="") Фирменный стиль, маркетинг и связи с общественностью
                a(href="") 
                  |Конференции, семинары, тренинги
                a(href="") 
                  |Открытие шоурумов
                  br
                  |и магазинов
                a(href="") Запуск презентаций
                a(href="") Мерчендайзинг
                
      
      section.services-item.four-bg
        .container-fluid
          .row
            
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3
                  |Спортивные
                .top-box
                  span События
                a(href="") Церемонии награждения
                a(href="") Организация трансферов
                a(href="") Организация соревнований
                a(href="") Организация пресс конфереций
                a(href="") Организация тренировочных баз
                a(href="") Абонементы в спортивне клубы
                a(href="") Размещение персонала
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/9.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/14.jpg)")
                
      section.services-item.three-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.pic-box
              .video
                video(autoplay="" loop="")
                  source(src='media/video/music-festival.mp4', type='video/mp4')
                  | Your browser does not support the video tag. I suggest you upgrade your browser.
              .pic(style="background-image: url(media/images/music-preload.jpg)")
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box
                h3 Музыкальные
                .top-box
                  span События 
                a(href="") Организация концертов и фестивалей 
                a(href="") Техническое обеспечение аудио, видео и медиа аппаратурой 
                a(href="") Букинг звёзд и артистов
                a(href="") Подбор и Аренда площадки
                
      
      section.services-item.two-bg
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12.text-box
              .link-box 
                .top-box(style="padding: 40px 0; height: auto;")
                  span События 
                h3(style="margin-bottom: 50px") Культуры и Искусства
                br
                a(href="") 
                  | Открытие музеев 
                  br
                  | и выставок
                a(href="") Эксперементальные события
                a(href="") Проведение церемоний
                a(href="") Церемонии открытия
                a(href="") Организация и проведение
                
                
            .col-md-6.col-sm-6.col-xs-12
              .pic-box
                .video
                  video(autoplay="" loop="")
                    source(src='media/video/art-festival.mp4', type='video/mp4')
                    | Your browser does not support the video tag. I suggest you upgrade your browser.
                .pic(style="background-image: url(media/images/art-preload.jpg)")
                
      section.services-item.other-servise
        .container-fluid
          .row
            .col-md-6.col-sm-6.col-xs-12
              .big-text
                .text
                  h2 Другие сервисы
            .col-md-6.col-sm-6.col-xs-12.text-box
              .top-box
                span 
              .link-box
                a(href="") Модели
                a(href="") Кейтеринг
                a(href="") Секьюрити
                a(href="") Хостел
                a(href="") Переводчики
                a(href="") VIP транспорт
                a(href="") Обслуживающий персонал
      
      
      section.page-bottom
        .lets-talk
          a(href="contact.html")
            img(src="media/images/gold-talk.gif", alt="")
            span 
              |Связаться
        p 
          |Мы есть в 
          a(href="https://www.instagram.com/hnl_events_/" target="_blank") Instagram
          |,
          br
          a(href="https://www.facebook.com/EventsHnL/" target="_blank") Facebook
          |  и 
          a(href="https://www.pinterest.com/hnlevents/" target="_blank") Pinterest
        .pic-section
          a.pic(href="https://www.instagram.com/hnl_events_/" style="background-image: url(media/images/bottom/1.jpg)" target="_blank")
          a.pic(href="https://www.facebook.com/EventsHnL/" style="background-image: url(media/images/bottom/2.jpg)" target="_blank")
          a.pic(href="https://www.instagram.com/hnl_events_/" style="background-image: url(media/images/16.jpg)")
          a.pic(href="https://www.pinterest.com/hnlevents/" style="background-image: url(media/images/bottom/4.jpg)" target="_blank")
          a.pic(href="https://www.instagram.com/hnl_events_/" style="background-image: url(media/images/bottom/5.jpg)" target="_blank")
            
      
      
      
      
      
      section.footer-space    
      include includes/footer
    
  