footer
  #map
  .container
    .row
      .col-md-4.col-sm-4.col-xs-6
        p
          |+38 044 4904532
          br
          | +38 093 5035045
          br
          |Fax: +38 044 4904546
      .col-md-4.col-sm-4.col-xs-6.center-box
        p(style='font-size: 14px; margin: 40px;')
          |© H&L Events
          br
          |2018
      .col-md-4.col-sm-4.col-xs-6
        p
          | info@hnl-events.com
          br
          | Bolsunovskaya, 13-15
          br
          | Kiev, Ukraine, 01014

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_A_xVuLklNP1NaxDYTkxjiFVUXZFwi0g")
script(src="js/scripts.js")  